.profile-card {
    height: 30%;
    width:80%;
    margin: 0 auto;
    margin-top: 30px;
}

.card-structure {
    display: flex;
    padding: 20px 40px;
}

.profile-gravatar {
    display: flex;
    align-items: center;
}

.gravatar-image {
    border-radius: 80px;
}