.one-item-card {
    width: 92%;
    margin: 10px 5px 10px 10px;
}

@media screen and (min-width: 500px) {
    .one-item-card {
        width: 46%;
    }
}

@media screen and (min-width: 1000px) {
    .one-item-card {
        width: 31%;
        margin: 10px 10px;
    }
}

.gravatar-image {
    border-radius: 50px;
}